{% extends 'base.html.twig' %}

{% block title %}Gestion des données{% endblock %}

{% block body %}
    <div {{ stimulus_controller('file_upload', {'websiteroot' : websiteroot}) }}
            class="flex flex-col items-center space-x-6"
    >

        {% include 'manage_datas/modal.html.twig' %}

        <button id="dropDataBase" type="button" class="flex items-center btn btn-red mb-5">
            <svg id="dropLoading"
                 aria-hidden="true" role="status"
                 class="inline w-4 h-4 mr-3 text-white animate-spin hidden"
                 viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                      fill="#E5E7EB"></path>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                      fill="currentColor"></path>
            </svg>
            <svg id="dropDoneLoading"
                 class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0 hidden" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
            </svg>
            Vider la base de données
        </button>


        <div class="flex flex-col md:flex-row items-center space-x-6">
            <div class="flex items-center justify-center">
                <div class="shrink-0 me-2">
                    <img class="h-16 w-16 object-cover"
                         src="{{ asset('medias/excel.png') }}"
                         alt="Import excel file"/>
                </div>

                <label class="block">
                    <span class="sr-only">Choisir un fichier</span>
                    <input id="fileupload" type="file" class="block w-full text-sm text-black-500
                          file:mr-4 file:py-2 file:px-4
                          file:rounded-full file:border-0
                          file:text-sm file:font-semibold
                          file:bg-gray-100 file:text-black-700
                          hover:file:bg-gray-400"
                    />
                </label>
            </div>

            <button id="uploadFile" type="button" class="flex items-center btn btn-blue mt-2 md:mt-0">
                <svg id="uploadLoading"
                     aria-hidden="true" role="status"
                     class="inline w-4 h-4 mr-3 text-white animate-spin hidden"
                     viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                          fill="#E5E7EB"></path>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                          fill="currentColor"></path>
                </svg>
                <svg id="uploadDoneLoading"
                     class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0 hidden" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                </svg>
                Envoyer en base de données
            </button>
        </div>

        <table id="table-musicBands" data-offset="0"
               class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden lg:shadow-lg my-5">
            <thead id="thead-musicBands" class="text-white">
            </thead>

            <tbody id="tbody-musicBands" class="flex-1 lg:flex-none">
            </tbody>
        </table>

        <div class="m-0">
            <button id="previousDatas" class="btn btn-blue hidden">
                Précédents
            </button>
            <button id="nextDatas" class="btn btn-blue hidden">
                Suivants
            </button>
            <button data-id="0" class="editData btn btn-green">
                Nouveau
            </button>
        </div>
    </div>
{% endblock %}
