<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gamma software test{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    
</head>
<body class="bg-gray-50 min-h-screen">

{% include 'common/nav/_navbar.html.twig' %}
{% include 'common/nav/_navside.html.twig' %}

<main class="main-content">
    {% block body %}{% endblock %}
</main>

</body>
</html>
